body{
	background-image: url(https://images.wallpapersden.com/image/download/hogwarts-legacy_bGhlbWyUmZqaraWkpJRoaWllrWZpaWU.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

h1 {
	color: coral;
	text-align : center;
}
h2 {
	color: white;
}
p{
	color: white;
}